<!-- header部分の呼び出し -->
<%= render partial: "header" %>

<div class = "article" id = "article">
  <div class = "contents">
    <div class = "text"><%= simple_format(@article.nickname) %></div>
    <div class = "text"><%= simple_format(@article.text) %></div>
    <div class = "links">
      <div class = "link"><%=link_to 'SHOW', "/articles/#{@article.id}" ,method: :get%></div> 
      <div class = "link"><%=link_to 'EDIT', "/articles/#{@article.id}/edit", method: :get %></div>
      <div class = "link">DELITE</div>
    </div>
  </div>
</div>